:root{
  --primary:#FDE047;
  --secondary: #5a189a;
  --background:#F5D0FE;
  --color:#CFFAFE;
  --lighter:#FDF4FF;
}
*,*::before,*::after{
  margin: 0;
  padding: 0;
  /* display: block; */
  box-sizing: border-box;
}
body{
  background-color: var(--secondary );
}
.pagewrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
nav{
  /* background-color: var(--background);  */
  padding: 2rem;
  color:var(--primary);
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  /* width: 100%; */
}
main{
  flex-grow: 1;
}
h1{
  text-align: center;
}
div{
  /* background-color: var(--color); */
  /* margin: auto; */
  padding: 2rem;
  text-align: center;
  /* margin: 2rem; */
  /* align-content: center; */
}
p{
  color:var(--primary);
  padding: 0.5rem;
  text-align: center;
}
.container{
  width: 600px;
  margin: auto;
}
input,label{
  display: block;  
  font-size: large;
}
label{
  font-size: larger;
  font-weight: bold;
  color: var(--primary);
}
input{
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  text-align: center;
  /* font-size: large; */
  border-radius: 0.8rem;
  border-width: 0.15rem;
  border-color: var(--primary);
}
.btn{
  display: block;
  margin-top: 1rem;
  margin:auto;
  border-width: medium;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-width: 0.15rem;
  border-radius: 0.5rem;
  border-color: var(--primary);
  color: var(--primary);
  font-size: large;
  font-weight: bold;
  /* background-color: var(--lighter); */
}
textarea{
  width: 80%;
  padding: 1rem;
  border-radius:0.5rem;
  color: var(--primary);
  border-color: var(--primary );
  font-size: larger;
}
footer{
  /* background-color: var(--background); */
  padding: 2rem;
  color: var(--primary);
  /* text-align: center; */
  /* align-content: center; */
  /* display: block; */
}
.notice{
  color:red;
  font-size: 1.6rem;
  font-weight: bold;
}
.footerlist, img{
  /* display: flex; */
  padding: 1rem;
  align-content: center;
  /* margin: 1rem; */
  /* text-align: center; */
}